.header{
    background-color: lightgray;
    font-size: 20px;
    font-style: bold;
    letter-spacing: 1pc;
    text-align: center;
}
.CV{
    align-items: center;
    align-content: center;
    border-inline-color: black;
    margin: auto;
    width:50%;
    border: 2px solid black;
}